.actionBtn {
    text-align: end;
    margin-bottom: 2rem;
    }
    .rdw-editor-wrapper{
        width: 70% !important;
        height: 200px !important;
       
        .rdw-editor-main{
            height: auto !important;
            max-height: 117px !important;
            
        }
        .rdw-editor-main span{
          font-size: 12px !important;
          font-family: "Roboto","Helvetica","Arial",sans-serif !important;
          
          
      }
      .DraftEditor-editorContainer{
        padding: 5px !important;
      
      }
      }