.btn-cstm{
    color: white !important;
    opacity: 0.8 !important;
}

.mt-2 {
    margin-top: 0.6rem !important;
}
table{
    a{
        text-align: center;
    }
  
    a:hover{
        cursor: pointer;
     }
    thead{
        background: #f0f0f0;
        a{
            color: inherit !important;
        } 
    }
}