.btn-cstm{
    color: white !important;
    opacity: 0.8 !important;
  }
  table{
    a{
        text-align: center;
    }
   
    
    a:hover{
        cursor: pointer;
     }
    thead{
        background: #f0f0f0;
        a{
            color: inherit !important;
        } 
    }
  }
  
  .MuiCollapse-vertical {
    padding: 0 0 10px 0;
  }
  // input,
  // .MuiSelect-select {
  //   height: 0.25em;
  // }

 
  .btn-cstm {
    border: 1px solid black;
    color: black;
    opacity: 0.8;
  }
  .card-box {
    border: 1px solid #80808099;
    box-shadow: none;
    .MuiCardContent-root {
      padding: 0;
      .heading {
        padding: 5px;
        background-color: rgb(190, 190, 190);
      }
      p {
        padding: 5px;
      }
    }
  }
  .actionBtn {
    text-align: end;
    margin-bottom: 2rem;
    }
  .row{
      margin-bottom: 0.25em !important;
      display: flex;
      // padding-right: 25rem;
      padding-top: 1rem;
  }
  // }
  
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  height: 0.25em;
  
  }
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    height: 0.25em !important;
  }
  .col-3{
    align-self: center !important;
   
    
  }
  .col-9{
    align-self: center !important;
  }

