.btn-cstm{
    color: white !important;
    opacity: 0.8 !important;
}
table{
    a{
        text-align: center;
    }
       .MuiSelect-select{
        background: none;
    }
    a:hover{
        cursor: pointer;
     }
    thead{
        background: #f0f0f0;
        a{
            color: inherit !important;
        } 
    }
}

.notDataDiv{
    text-align: "-webkit-match-parent";
    width: 100%;
    font-size: larger;
    padding: 8%;
}

.addSubpage{
    cursor:pointer;
    text-decoration: underline;
    color:#16639e;
  }
  .table_head{
    font-size: 13px !important;
    font-weight: bold !important;
  align-items: center !important; 
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
  }
  .table_content{
    font-size: 12px !important;
    align-items: center !important; 
    font-family: "Roboto","Helvetica","Arial",sans-serif !important;
    
  
  }