@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, a, ul, li, span, div, label, input, select, button, table, th, td, body {
  font-family: "Inter", sans-serif !important;
}
h1, h2, h3, h4, h5, h6{
  color: rgba(0, 0, 0, 1) !important;
  text-transform: capitalize !important;
}
// button design
.btn{
  text-transform: capitalize;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-flow:row nowrap;
  gap: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.btn-sm{
  padding: 7px 8px;
  font-size: 11px;
  font-weight: 400;
}
.btn-lg{
  font-size: 16px;
  width: 100%;
  max-width: 160px;
}
.btn-purple{
  background-color: rgba(85, 112, 241, 1);
  color: #fff;
  &:hover{
    color: #fff;
    background-color: rgb(71, 96, 218);
  }
}
.btn-outline-purple{
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(85, 112, 241, 1);
  color: rgba(85, 112, 241, 1);
  &:hover{
    background: rgba(85, 112, 241, 1);
    color: #fff;
  }
}
.btn-outline-lightBlue{
  background: rgba(127, 170, 255, 0.3);
  border: 1px solid rgba(12, 105, 192, 1);
  color: rgba(44, 45, 51, 1);
}
.btn-blue{
  background: rgba(85, 112, 241, 1);
  border: 1px solid rgba(85, 112, 241, 1);
  color: rgba(255, 255, 255, 1);
  &:hover{
    color: #fff;
    background-color: rgb(71, 96, 218);
  }
}

.btn-outline-orange{
  background: rgba(248, 155, 83, 0.49);
  border: 1px solid rgba(249, 146, 67, 1);
  color: rgba(44, 45, 51, 1);
}

.btn-outline-lightYellow{
  background: rgba(237, 202, 114, 0.32);
    border: 1px solid rgba(237, 202, 114, 1);
    color: rgba(44, 45, 51, 1);
}
.btn-outline-gray{
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(214, 214, 214, 1);
  color:rgba(83, 84, 92, 1);
}

// btn design end

// search Box Design
.searchBox{
  position: relative;
  .searchInput{
    .MuiInputBase-input{padding: 8px 14px 8px 0 !important; color: rgba(171, 175, 177, 1); font-size: 12px; font-family: "Inter", sans-serif !important;}
  }
  .MuiOutlinedInput-notchedOutline{
    border-color: rgb(214, 214, 214) !important;
    border-width: 1px !important;
  }
}

.fw-500{
    font-weight: 500 !important;
}
.textPurpal{
  color:rgba(85, 112, 241, 1) !important;
}
.text-light-blue{
  color: rgba(85, 112, 241, 1)
  ;
}
.text-gray{
color: rgba(104, 104, 104, 1) !important;
}
.text-orange{
  color: rgba(248, 155, 83, 1) !important;
}
.text-dark-gray{
  color: rgba(69, 70, 78, 1) !important;
}
.semiGray{
  color: rgba(69, 70, 78, 1) !important;
}
.lightGreenBg{
  background: rgba(42, 163, 31, 0.34) !important;
}
.link-text{
  font-size: 14px !important;
  text-transform: capitalize;
}
.fs-6{
  font-size: 1rem !important;
  font-weight:500 !important;
}
.fs-7{
  font-size: 14px !important; 
}
.fw-medium{
  font-weight: 500 !important;
}
.borderd-purple{
  border:1px solid rgba(85, 112, 241, 0.6);
}
.apperance-none{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

// modal design
.modal-header{
  font-size: 27px !important;
  font-weight: 600 !important;
  color: rgba(69, 70, 78, 1) !important;
  text-align: center !important;
  justify-content: center;
  background: #fff !important;
  margin-bottom: 40px !important;
}

// card design
.cardDesign{
  border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  -webkit-border-radius: 12px !important;
  padding: 24px !important;
  box-sizing: border-box;
  box-shadow: none !important;
  margin-bottom: 20px !important;
  .cardHeader{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 10px;
  }
  .cardContent{
    padding:0px !important;
    .twopartContent{
      display: flex;
      flex-flow: column;
      gap: 10px;
      padding-left: 10px;
      li{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between !important;
        gap:10px; 
        color: rgba(104, 104, 104, 1);
        font-size: 12px;
        font-weight: 400;
        padding-left: 10px;
        &::before{
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: rgba(85, 112, 241, 1);
          position: absolute;
          top:50%;
          left: -10px;
          transform: translate(0, -50%);
        }
        .digit{
          color: #000;
        }
      }
       
    }
  }
}
.grayBg{
  background: rgba(244, 244, 244, 1) !important;
}
.list-group{
  .list-group-item{ 
    color: rgba(69, 70, 78, 1);
    font-size: 14px !important;
    font-weight: 500; 
    border: none;
    
  }
}
.stockInfo {
  margin-bottom: 30px;
  @media screen and (max-width: 992px) {
    margin-bottom: 22px;
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 15px;
  }
  .list-group {
    .list-group-item {
      background: rgba(235, 238, 255, 1); 
      padding: 10px 14px;
      &:last-child{
        background: rgba(191, 202, 255, 1);
        color: rgba(85, 112, 241, 1);
      }
    }
  }
  p{
    color: rgba(69, 70, 78, 1);
    font-size: 14px;
    font-weight: 400; 
  }
}

.StockAction {
  .list-group{
    .list-group-item{
      background: rgba(244, 244, 244, 1);  
      padding: 10px 14px 8px;
    }
  }
}   

.StockActionClose{
  .list-group{
    .list-group-item{
      background: rgba(235, 238, 255, 1);  
      padding: 11px;
    }
  }
  .form-check-input{
    background-color: rgb(255, 255, 255) !important;
    border-color: rgba(71, 167, 133, 1)!important;
    &:checked{
      background-color: rgba(71, 167, 133, 1)!important;
      border-color: rgba(71, 167, 133, 1)!important;
    }
  }
}
.tableHeader {
  margin-bottom:22px ;
}
.tableHeading {
  font-size: 16px !important;
  font-weight: 500;
  color: rgba(69, 70, 78, 1) !important;
}
.tableDesignFrame{
  width: 100%;
  overflow-x: auto;
}
.tableDesign{
 thead{
  th{
    border-width: 1px 0 1px !important;
    border-color: rgba(225, 226, 233, 1) !important;
    border-style: solid !important;
    padding: 17px 22px 15px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: rgba(44, 45, 51, 1) !important;
    text-align: left !important;
    background: #fff !important;
  }
 }
 tbody{
  tr{
    font-size: 14px;
      font-weight: 400;
      color: rgba(110, 112, 121, 1);
      --bs-table-accent-bg: rgb(255, 255, 255);
      &:hover{
        --bs-table-accent-bg: rgb(220, 220, 220);
      }
    td{
      padding: 15px 20px 16px !important;
      font-size: 14px !important;
      font-weight: 400 !important;
      color:rgba(110, 112, 121, 1) !important ;
      .addSubpage{
        color: rgba(85, 112, 241, 1) !important;
        font-weight: 500 !important;
        text-decoration: none !important;
      }
    }
  }
  tr:nth-of-type(odd) {
      --bs-table-accent-bg:rgba(248, 248, 248, 1) ; 
      &:hover {
          --bs-table-accent-bg: rgb(220, 220, 220);
        }
    }
 }
}

.bitTable{
  thead{
    tr{
        th{ 
          font-weight: 500 !important; 
          font-size: 14px; 
          padding-block: 4px; 
          border-bottom: .5px solid rgba(207, 207, 207, 1) !important;
          &:nth-child(even){
            border-bottom-color: rgba(233, 218, 83, 1) !important;
          }
        }
        }
    }
    tbody{
        tr{
            td{
                font-size: 14px;
                font-weight: 400 !important;
            }
        }
    }
}

.totalShare{
  input{
    max-width: 80px;
  }
}
.btn-cstm{
    background-color:#16639e !important;
    border-color: #16639e!important;
    // text-transform: unset !important; 
}
.btn-cstm:hover{
    opacity: 1 !important;
}

.orderCard{
  .list-group{
    .list-group-item{
      font-size: 13px !important;
      font-weight: 700;
      color: #45464E;
      @media screen and (max-width: 1280px) {
        font-size: 10px !important;
        padding:6px 8px !important;
      }
    }
    .list-group-item.maxProfitNumber{
      background-color: rgba(85, 111, 241, 0.4);
      color: #5570F1;
      font-size: 14px !important;
      font-weight: 500;
      @media screen and (max-width: 1280px) {
        font-size: 10px !important;
        padding:6px 8px !important;
      }
    }
  }
}

.priceWithProfit{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap:10px;
  border: 1.3px solid #00000080;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 5px;
  @media screen and (max-width: 1280px) {
    gap: 4px;
    padding: 2px 4px ; 
  }
  label{
    color: #5570F1;
    font-size: 14px;
    font-weight: 500;
    @media screen and (max-width: 1280px) {
      font-size: 10px;
    }
  }
  select, input[type="number"]{
    border:none;
    width: 100%;
    color: rgba(83, 84, 92, 0.7);
    font-size: 14px;
    font-weight: 500; 
    @media screen and (max-width: 1280px) {
      font-size: 10px;
    }
    &:hover, &:focus-within{
      border: none;
      outline: none;
    }
  }
    select{
      max-width: 40px;
      text-align: center;
      font-size: 12px;
      color: rgba(69, 70, 78, 1);
      font-weight: 400;
      appearance: none;
      padding-right: 8px;
      background: url("./assets/utils//images/dropdown-header/down-trangle.png") no-repeat right center;
      background-size: 8px 4px;
      @media screen and (max-width: 1280px) {
        font-size: 10px;
        max-width: 30px;
        padding-right: 8px;
      }
      optgroup{
        height: 100px;
        overflow-y: auto;
      }
    }
}
.apperance-none, .apperance-none:hover{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.existingPosition{
  .list-group{
    .list-group-item{
      display: flex;
      align-items: center;
      justify-content: space-between !important;
      padding: 3px 0 !important;
      background-color: transparent !important;
      font-size: 13px !important;
      color: rgba(69, 70, 78, 1) !important;
      font-weight: 400 !important;
      .value{
        font-size: 14px !important;
        font-weight: 500;
        color: #000;
      }
    }
  }
}
.positionList{
  ul{
  display: flex;
  flex-flow: row nowrap;
  background: #fff;
  li{
    width: 25%;
    padding: 5px 10px;
    text-align: center;
    background: rgba(245, 126, 119, 0.16);
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 500;
  }
  .recomended{
    background: rgba(85, 112, 241, 1);
    color: #fff;
  }
  }
}
.totalPosition, .totalPosition ul{
  display: flex;
  justify-content: end;
  align-items: center;
  gap:30px;
}
.totalPosition ul li{
  font-size: 16px;
  font-weight: 600;
  color: rgba(37, 123, 92, 1);
}
table{
    thead{
        tr{
            th{
                color: #16639e  !important;
            }
        }
    }
}
.simpleTable{
  thead{
    tr{
        th{
            color: #000  !important;
            font-size: 13px;
            font-weight: 500 !important;
            background-color: #fff !important;
            padding: 1px 5px !important;
            border-right: 2px solid #dadada;
            text-align: center;
            &:first-child, &:last-child{
                border-right: none !important;
            }
        }
        
    }
}
tbody{
    tr{
        td{
            font-size: 11px;
            font-weight: 400 !important;
            color: rgba(37, 37, 37, 1) !important;
            padding: 3px !important;
            text-align: center;
        }
    }
}
}
.deleteBtn{
  min-height: 20px;
  min-width: 20px !important;
  height: 26px;
  width: 26px;
  display: inline-block;
  svg{
    fill:rgb(85, 112, 241) !important ;
  }
  &:hover{
    background-color: rgb(85, 112, 241) !important;
    svg{
      fill:rgb(255, 255, 255) !important ;
    }
  }
}


.rdw-editor-wrapper{
    border: 1px solid;
}
.rdw-left-aligned-block{
  padding: 10px !important;
}

.border-1{
 border: 1px solid rgba(128, 128, 128, 0.6);
}

.addSubpage{

  background-color: none !important;
    color: #16639e !important;
    cursor: pointer;
    text-decoration: underline;
    padding: 5px !important;
    line-height: 0 !important;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    text-transform: unset !important; 
  }

  .addForms{
    background-color: none !important;
    color: #16639e !important;
    cursor: pointer;
    text-decoration: underline;
    padding: 5px !important;
    line-height: 3 !important;
    font-family: "Roboto","Helvetica","Arial",sans-serif;

  }
  .add_Rules{
    background-color: none !important;
    color: #16639e !important;
    cursor: pointer;
    text-decoration: underline;
    padding: 5px !important;
    font-size: 12px !important;

    font-family: "Roboto","Helvetica","Arial",sans-serif;
  }
.checkBox{
    color:#145a8d !important;
  }


  .complyColor{
    color: #145a8d;
    font-size: 30px !important;
    font-weight: 600 !important;
    
  }
  .box-shade1{
        box-shadow: 0 0.46875rem 2.1875rem rgba(8, 10, 37, 0.03), 0 0.9375rem 1.40625rem rgba(8, 10, 37, 0.03), 0 0.25rem 0.53125rem rgba(8, 10, 37, 0.05), 0 0.125rem 0.1875rem rgba(8, 10, 37, 0.03);
        border-width: 0;
        transition: all 0.2s;
  }

  .headingLabel{
    margin-top: 0.5rem !important;
    font-size: 15px !important;
    font-weight: 400;
    justify-content: center !important;
    margin-bottom: 0.5rem !important; 
    font-family: "Roboto","Helvetica","Arial",sans-serif;
  }
  .box_style {
   
    box-shadow: 0 0.46875rem 2.1875rem rgba(8, 10, 37, 0.03), 0 0.9375rem 1.40625rem rgba(8, 10, 37, 0.03), 0 0.25rem 0.53125rem rgba(8, 10, 37, 0.05), 0 0.125rem 0.1875rem rgba(8, 10, 37, 0.03);
    background-color: white
  }
.table_head{
  color: #145a8d !important;
  font-size: 13px !important;
  font-weight: bold !important;
align-items: center !important; 
font-family: "Roboto","Helvetica","Arial",sans-serif !important;
}
.table_content{
  font-size: 12px !important;
  align-items: center !important; 
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
  

}
.w-20{
  width: 20%;
}
  .rounded-Input div{
    border-radius: 50px;
  }

.selectDiv div{
    max-width: 65% !important;
}
  


.vertical-nav-menu .metismenu-container i.metismenu-state-icon, .vertical-nav-menu .metismenu-container i.metismenu-icon {

  opacity: 1 !important;
  font-size: 32px !important;
  

}
.metismenu-item {
  font-size: 12px !important;
 
}
.metismenu-item a{
  // line-height: 3rem !important;
  // height: 3rem !important;

}
.metismenu-item .active i{
  font-weight: 700 !important;
  
}
.app-main__outer{
  background-color: #f4f5fa !important;
}
.app-theme-white.app-container{
  background-color: #f4f5fa !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding:  5px !important;
}


.rdw-editor-wrapper{
  width: 100% !important;
  height: 200px !important;
 
  .rdw-editor-main{
      height: auto !important;
      max-height: 117px !important;
      
  }
  .rdw-editor-main span{
    font-size: 12px !important;
    font-family: "Roboto","Helvetica","Arial",sans-serif !important;

    
}
.DraftEditor-editorContainer{
  padding: 5px !important;

}
}

.fixed-header {
  .app-main {
    padding-top: 110px;
  }
}

.app-sidebar__heading,
.metismenu-link {
  color: #0b0c0c;
}
.app-header {
  position: fixed;
  top: 0;  
  opacity: 1 !important;
  background-color: white;
  width: 100% !important;
  height: auto;
  .app-header__logo {
    max-width: 260px;
    gap: 10px;
    justify-content: space-between;
    .logo-src {
        height: 52px !important;
        width: 52px !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
      }
    h5{
      font-size: 15px !important;
      font-weight: 700 !important;
      color: rgba(69, 70, 78, 1) !important ;
    }
        .Burger{
          padding: 5px;
        }
  }
  .headerTop{
    border-bottom: 1px solid rgba(241, 243, 249, 1);
    padding: 14px 20px 14px 0;
    .app-header-right {
        display: flex;
        align-items: center;
        gap: 20px;
        .userIcon{
          height: 32px;
          width: 32px;
          border-radius: 8px;
          -moz-border-radius: 8px;
          -webkit-border-radius:8px;
          overflow: hidden;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
  }
  .headerBottom{
    padding: 8px 20px 8px 0;
    .MuiBreadcrumbs-separator{
      margin-inline: 11px !important;
    }
    .currentPage{
      font-size: 12px;
      text-transform: capitalize;
      color: rgba(139, 141, 151, 1);
      margin: 0;
    }
    a{
      color: rgba(85, 112, 241, 1) !important;
      text-decoration: none !important;
      cursor: pointer;
      &:hover{
        color: rgba(69, 70, 78, 1) !important;
        path{
          fill: rgba(69, 70, 78, 1) !important;
        }
      }
    }
  }
    
}
.pageName {
  font-size: 20px !important;
  font-family: "Inter", sans-serif !important;
  color: rgba(69, 70, 78, 1) !important;
}

.css-q0jhri-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled, .Mui-error):before {
  border: none !important;
}
.input-file div::before{
display: none !important;
}
.input-file div::after{
  display: none !important;
  }
  .input-file input{
    height: auto !important;
    padding: 0 !important;
    width: 80% !important;
    border: 1px solid;
  }

  .editor-div button{
    opacity: 0.8;

    justify-content: center;
    position: relative;
    box-sizing: border-box;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    vertical-align: middle;
    color: inherit;
    font-weight: 500;
    font-size: 0.8125rem;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 4px 10px;
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #fff;
    background-color: #16639e !important;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    margin-top: 2px;
    margin-bottom: 5px;
}
.editor-div button.Cancel{
  background-color: white !important;
  border: 1px solid rgba(25, 118, 210, 0.5) !important;
  color: #1976d2 !important;
  box-shadow: none !important;
  margin-top: 3px !important;
  margin-bottom: 5px !important;
}
.btn-cstm{display: none;}
.addSubpage{
  background-color: none !important;
   
  }
.min-width{
  min-width: 8rem;
}

.MuiPaper-elevation ul li {
  justify-content: center !important;
  font-size: 12px !important;
}

.actionRow{
  text-align: center;
  svg{
    display: inline-block;
    color: #333 !important;
    &:hover {
        cursor: pointer !important;
      }
  }
}
.Login-Heading{
  
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 540;
    margin-top: 13px;
    margin-left: 15px;
    font-size: 22px;
}

.MuiFormControlLabel-label{
  font-size: 12px !important;
}

.boldClass{
  font-weight: 900 !important;
}

.bread_crumbs nav{
  font-size: 13px;
  font-weight: 550 !important;
  margin: 0.5rem;
  justify-content: end;
  // color:"#3498db" !important;
  display: flex;

  cursor: pointer !important;
}

.bread_crumbs a:hover{
  cursor: pointer !important;
 
  text-decoration: underline !important;
  :hover:after {
    color: inherit !important;
  }

  .notDataDiv{
    text-align: "-webkit-match-parent";
    width: 100%;
    font-size: larger;
    padding: 8%;
}
}
.bread_crumbs p{
  margin: 0px !important;
  cursor: default !important;
}

.errorClass{
  color: red !important;
  font-size: 12px !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
   -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}

// login form css
.logoBox{
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 60px;
  .app-logo{
    margin-bottom: 0 !important;
    display: inline-block;
  }
  .authSlogen{
    display: flex;
    flex-flow: column;
    gap: 10px;
    h6{
      font-size: 20px;
      font-weight: 500;
      color: rgba(0, 0, 0, 1);
      margin-bottom: 0;
    }
    p{
      font-size: 14px;
      font-weight: 400;
      color: rgba(139, 141, 151, 1);
      margin-bottom: 0;
    }

  }
}
.loginSignupForm{
  width: 100%;
  max-width: 375px;
}

.loginInput{
  .MuiInputBase-root{
    background: rgba(239, 241, 249, 0.6);
  }
  .MuiOutlinedInput-notchedOutline{
    border:none;
  }
  .MuiInputBase-input{
    padding-left:5px;
    background: rgba(239, 241, 249, 0.6);
  }
  input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{
    -webkit-box-shadow:0 0 0 30px rgb(245 247 251) inset !important;
  }
}
.loginSignupForm{
  form{
    display: flex;
    flex-flow: column;
    gap: 48px;
    @media screen and (max-width: 768px) {
      gap: 38px;
    }
    @media screen and (max-width: 676px) {
      gap: 28px;
    }
  }
}

.userInfo{
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10px;
  margin-bottom: 20px;
  .userIcon{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .green-bg{
    background: rgba(71, 167, 133, 1);
  }
  .orange-bg{
    background: rgba(248, 155, 83, 1);
  }
  .userName{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 5px;
    color: rgba(30, 41, 59, 1) !important;
    font-family: "Montserrat", sans-serif !important;
  }
  .userCount{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 5px;
    color: rgba(30, 41, 59, 1) !important;
    font-family: "Montserrat", sans-serif !important;
  }
}
.small-select-box{
  width: fit-content;
  min-width: 100px;
  max-width: 100px;
  color: #000;
  border:1px solid #000;
  .MuiSelect-select{
    padding: 6px 14px !important;
    font-size: 12px;
    min-width: 100px !important;
    box-sizing: border-box;
  }
  .dropArrow{
    position: absolute !important;
    right: 10px !important;
    top:50% !important;
    transform: translateY(-50%) !important;
  }
  .MuiOutlinedInput-notchedOutline{
    border-color: rgb(214, 214, 214) !important;
    border-width: 1px !important;
  }
}
/* Hide the arrows in Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Hide the arrows in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}


// .closed-sidebar .app-sidebar:hover{
//   width: 100px !important;
// }
// .closed-sidebar .vertical-nav-menu .metismenu-container .metismenu-link{
//   color:  transparent !important;
// }
// .closed-sidebar .vertical-nav-menu .metismenu-container .metismenu-link.active{
//   i{

//     color:  white !important;
//   }
// }
// .closed-sidebar .vertical-nav-menu .metismenu-container .metismenu-link{
//   i{

//     color:  gray !important;
//   }
// }