.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    min-width: 10rem !important;
}

.expend-card{
    border: 1px solid #80808099 ;
    border-radius: 10px;
    padding: 0;
    
    .MuiCollapse-vertical{
        padding: 0 0 10px 0;
    }
    input , .MuiSelect-select{
        height: 1rem;
    }
    
  } 
  .headingtext{
    margin-top: 5px;
    font-size: 15px !important;
    font-weight: 600 !important;
    justify-content: center;
    margin-bottom: 1rem;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    color: #145a8d !important;
  }

  .table_text{
    color: #1c1d1d !important;
    font-size: 12px !important;
    align-items: center !important; 
    font-family: "Roboto","Helvetica","Arial",sans-serif !important;
    
  
  }
  .table_text1{
   
    font-size: 12px !important;
    align-items: center !important; 
    font-family: "Roboto","Helvetica","Arial",sans-serif !important;
    
  
  }
  .table_text input{ 
    color: #1c1d1d !important;
    font-size: 12px !important;
    align-items: center !important; 
    font-family: "Roboto","Helvetica","Arial",sans-serif !important;
    }


  .actionButton {
    text-align: end;
    margin-top: 2rem;
   
    }
  .row{
      margin-bottom: 0.25em !important;
      display: flex;
      
      // padding-top: 0.5rem;
  }

  
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  height: 0.25em;
  
  }
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    height: 0.25em !important;
  }
  .col-3{
    align-self: center !important;
  
    
  }
  .col-9{
    align-self: center !important;
  
  
  }
  .add_languages{
    background-color: none !important;
    color: #16639e !important;
    cursor: pointer;
    text-decoration: underline;
    padding: 5px !important;
    font-size: 12px !important;

    font-family: "Roboto","Helvetica","Arial",sans-serif;
  }
  .TextContent{
    margin-top: 13px;
  }